<nav>
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>
</nav>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    
    <button
    [routerLink]="['']"
    routerLinkActive="active-button"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </button>
  <button [routerLink]="['login']" routerLinkActive="active-button">
    Login
  </button>
  <button [routerLink]="['register']" routerLinkActive="active-button">
    Register
  </button>
  <button [routerLink]="['notes']" routerLinkActive="active-button">
    Notes
  </button>
  </mat-drawer>

 

</mat-drawer-container>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened></mat-drawer>
  <mat-drawer-content></mat-drawer-content>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>


