<mat-card class="example-card p-5" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <!-- <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex flex-row justify-content-between">
        <div>
            <button mat-button>edit</button>
            <button mat-button color="primary">delete</button>
        </div>
        <div>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" style="color:#a42e97;">
                <mat-icon>delete</mat-icon>
              </button>
              
        </div>
      
    </mat-card-actions>
  </mat-card>
  
